<!-- [center]="[-74.5, 40]"  -->
<!-- -66.324462890625 , -16.024695711685304 -->
<div id="container " class="container">
  <div class="row">
    <mgl-map class="col-sm"
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[9]"
        [center]="[-2.05934, 52.58514 ]">

      <mgl-marker *ngFor="let marker of jobsMarker_list"
          [lngLat]="[marker.Coordinate_X,marker.Coordinate_Y ]">
        <div (click)="showJobDetails(marker)" class="marker">
          <img width="15" height="15" src="assets/marker_black.png" alt="">
        </div>
      </mgl-marker>
    </mgl-map>


    <div id="job_specs" class="col-sm"  >
      <div *ngIf="showJobSpecs">
        <span style="color:red">{{job_details.Title }}</span>  ||  {{job_details.Company}}  ||  {{job_details.Salary}}
        <h6 class="card-subtitle mb-2 text-muted">{{job_details.Borough}} || {{job_details.Location}} </h6>
        <p class="card-text" [innerHTML]="job_details.JobDetailedDescription"></p>
        <a href="{{job_details.JobDescriptionLink}}" class="card-link job_description"> Apply </a>
      </div>
    </div>
  </div>
</div>
