#container {
  width: 100%;
}

mgl-map {
  height: 600px;
  width: 600px;
  margin: 10px;
}

.card-header, .card-footer {
  background-color: #FFFAFA;
  border: none;
}

/* #job_specs {
  height: 800px;
  width: 800px;
  margin: 10px;
} */