<!-- [center]="[-74.5, 40]"  -->
<!-- -66.324462890625 , -16.024695711685304 -->
<div id="container " class="container">
  <div class="row">
    <mgl-map class="col-sm"
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[9]"
        [center]="[-2.05934, 52.58514 ]">

      <mgl-marker *ngFor="let marker of jobsMarker_list | keyvalue"
          [lngLat]="[marker.value[0].Coordinate_X,marker.value[0].Coordinate_Y]">
        <div (click)="showJobDetails(marker.value)" class="marker">
          <img width="25" height="25" src="assets/marker_black.png" alt="">
          <!-- {{marker.key}} -->
          {{marker.value.length}}
        </div>
      </mgl-marker>
    </mgl-map>


    <div id="job_specs" class="col-sm"  >
      <div class="card job border-dark" *ngFor="let job of jobs">
        <div class="card-header">
            <span style="color:red">{{job.Title }}</span>  ||  {{job.Company}}  ||  {{job.Salary}}
            </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{job.Location}} || {{job.Borough}} </h6>
            <!-- <p class="card-text" [innerHTML]="job.JobDetailedDescription"></p> -->
            
        </div>
        <div class="card-footer text-muted">
            <a href="{{job.JobDescriptionLink}}" class="card-link job_description"> Apply </a>
        </div>
      </div>
    </div>

  </div>
</div>
