<router-outlet></router-outlet>
<h4 id="total_jobs">Total Jobs: {{total_Jobs}}</h4>

<div id="jobs_tab">
    <div id="row_sorting_and_filtering">
        <label for="sortBy">Sort By: </label>
        <select #selectValue (change)="orderByList(selectValue.value)" name="sortBy_dropdown" id="sortBy">
            <option value=""></option>
            <option value="salary" >Salary</option>
        </select>

        <label id="label_filterby" for="filterBy">Filter By: </label>
        <input id="input_filterby" #filter_words [value]="filterBy_word" (keyup)="filterBy_inputChanged($event)"/>
        <!-- <input id="input_filterby" [value]="filterBy_word"/> -->
        <button id="btn_filterby" (click)="filterByList()" > Filter </button>
    </div>
    <app-job [jobs]="jobs_list"></app-job>
</div>
<div id="jobs_map_tab">
    
</div>